{% extends 'layout/layout.html' %}

{% block title %}Editar Visita{% endblock %}

{% block content %}
<div class="container">
    <h4>Editar Visita</h4>
    <hr>

    <form method="POST" action="{% url 'editar_visita' visita.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row mb-3">
            <div class="col-md-4">
                <label for="motivo" class="form-label">Motivo de Visita</label>
                <select class="form-control select2" id="motivo" name="motivo" required>
                    <option value="" disabled>Seleccione una opción</option>
                    {% for motivo in motivos %}
                        <option value="{{ motivo.id }}" {% if motivo.id == visita.motivo_id %}selected{% endif %}>{{ motivo.descripcion }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4">
                <label for="area_departamento" class="form-label">Área o Departamento</label>
                <select class="form-control select2" id="area_departamento" name="area_departamento" required>
                    <option value="" disabled>Seleccione una opción</option>
                    {% for area in areas %}
                        <option value="{{ area.id }}" {% if area.id == visita.area_departamento_id %}selected{% endif %}>{{ area.nombre }}</option>
                    {% endfor %}
                </select>
            </div>                      
            <div class="col-md-4">
                <label for="persona_visitada" class="form-label">Persona Visitada</label>
                <select class="form-control select2" id="persona_visitada" name="persona_visitada" required>
                    <option value="" disabled>Seleccione una opción</option>
                    {% for colaborador in colaboradores %}
                        <option value="{{ colaborador.id }}" {% if colaborador.id == visita.persona_visitada_id %}selected{% endif %}>{{ colaborador.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="fecha_visita" class="form-label">Fecha de Visita</label>
                <input type="date" class="form-control" id="fecha_visita" name="fecha_visita" value="{{ visita.fecha_visita|date:'Y-m-d' }}" required>
            </div>
            <div class="col-md-6">
                <label for="hora_ingreso" class="form-label">Hora de Ingreso</label>
                <input type="time" class="form-control" id="hora_ingreso" name="hora_ingreso" value="{{ visita.hora_ingreso }}" required>
            </div>
        </div>

        <h5>Visitantes <span id="cantidad-visitantes-label" class="badge bg-secondary">{{ visitantes|length }}</span></h5>
        <div id="visitantes-container">
            {% if visitantes %}
                {% for visitante in visitantes %}
                <div class="row visitante-row mb-3">
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="visitante_nombre[]" value="{{ visitante.nombre }}" required>
                    </div>
                    <div class="col-md-5">
                        <input type="text" class="form-control" name="visitante_documento[]" value="{{ visitante.documento_identificacion }}">
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-danger remove-visitante">-</button>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <div class="row visitante-row mb-3">
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="visitante_nombre[]" placeholder="Nombre del visitante" autocomplete="off" required>
                    </div>
                    <div class="col-md-5">
                        <input type="text" class="form-control" name="visitante_documento[]" placeholder="Documento de identificación" autocomplete="off">
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-danger remove-visitante" style="display: none;">-</button>
                    </div>
                </div>
            {% endif %}
        </div>
        <button type="button" id="add-visitante" class="btn btn-secondary">+</button>
        <br><br>

       {% comment %}  <div class="row mb-3">
            <div class="col-md-6">
                <label for="foto_documento_identificacion" class="form-label">Foto del Documento</label>
                <input type="file" class="form-control" id="foto_documento_identificacion" name="foto_documento_identificacion">
                {% if visita.foto_documento_identificacion %}
                    <p>Documento actual:</p>
                    <img src="{{ visita.foto_documento_identificacion.url }}" alt="Foto Documento" style="max-width: 200px; border-radius: 5px;">
                    <br>
                    <a href="{{ visita.foto_documento_identificacion.url }}" target="_blank">Ver imagen completa</a>
                {% endif %}
            </div>
        </div> {% endcomment %}

        <button type="submit" class="btn btn-primary">Actualizar Visita</button>
        <a href="{% url 'mis_visitas' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>

<style>
    .container {
        max-width: 800px;
        margin: auto;
        background: #ffffff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    h1, h2, h3, h4, h5, h6 {
        color:#122a4a;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .btn-primary {
        background-color: #184072;
        border-color: #184072;
    }

    .btn-primary:hover {
        background-color: #122a4a;
    }
    .form-label{
        color:#122a4a;
        font-weight: bold;
    }

    .form-control {
        height: 38px; /* Asegurar la misma altura que los input */
        line-height: 1.5; /* Ajustar alineación vertical */
        padding: 6px 12px; /* Ajusta si es necesario */
        font-size: 16px; /* Tamaño de texto consistente */
        text-align: left;
    }
    
    .form-control:focus {
        border-color: #80bdff !important; /* Mismo efecto de focus que los inputs */
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
    }

    .select2-container .select2-selection--single {
        border: 1px solid #ced4da !important;
        height: 38px !important;
        border-radius: 5px;
    }
    
    .select2-container--default .select2-selection--single:focus {
        border-color: #80bdff !important;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
    }
</style>

{% endblock %}

{% block extra_js %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        actualizarCantidadVisitantes();

        document.getElementById("add-visitante").onclick = function() {
            agregarVisitante();
        };

        document.addEventListener("click", function(event) {
            if (event.target.classList.contains("remove-visitante")) {
                event.target.parentElement.parentElement.remove();
                actualizarCantidadVisitantes();
                updateRemoveButtons();
            }
        });

        function agregarVisitante() {
            let container = document.getElementById("visitantes-container");
            let newRow = document.createElement("div");
            newRow.classList.add("row", "visitante-row", "mb-3");
            newRow.innerHTML = `
                <div class="col-md-6">
                    <input type="text" class="form-control" name="visitante_nombre[]" placeholder="Nombre del visitante" autocomplete="off" required>
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" name="visitante_documento[]" placeholder="Documento de identificación" autocomplete="off">
                </div>
                <div class="col-md-1">
                    <button type="button" class="btn btn-danger remove-visitante">-</button>
                </div>
            `;
            container.appendChild(newRow);
            actualizarCantidadVisitantes();
            updateRemoveButtons();
        }

        function actualizarCantidadVisitantes() {
            let cantidad = document.querySelectorAll(".visitante-row").length;
            document.getElementById("cantidad-visitantes-label").innerText = cantidad;
        }

        function updateRemoveButtons() {
            let buttons = document.querySelectorAll(".remove-visitante");
            buttons.forEach(btn => btn.style.display = buttons.length > 1 ? "inline-block" : "none");
        }
    });
</script>
{% endblock %}
