{% extends 'layout/layout.html' %}

{% block title %}Mis eventos{% endblock %}

{% block content %}
<div class="container">
    <h3>Eventos agendados</h3>
    <hr>

    <div class="actions">
        <a class="btn btn-add" href="{% url 'nuevo_evento' %}">Agregar evento</a>
        <input type="text" id="searchInput" class="search-box" placeholder="Buscar evento...">
    </div>
    
    <div class="table-responsive">
        <table id="userTable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Evento</th>
                    <th>Organizador</th>
                    <th>Cantidad de personas a asistir</th>
                    <th>Fecha</th>
                    <th>Hora inicio</th>
                    <th>Hora fin</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for visita in visitas %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ visita.motivo }}</td>
                    <td>{{ visita.area_departamento }}</td>
                    <td>{{ visita.persona_visitada }}</td>
                    <td>{{ visita.fecha_visita }}</td>
                    <td>{{ visita.hora_ingreso }}</td>
                    <td>{{ visita.hora_salida }}</td>
                    <td>
                        <a href="{% url 'editar_visita' visita.id %}" class="btn btn-edit">
                            <i class="fas fa-edit"></i>
                        </a>
                        <button class="btn btn-delete" data-bs-toggle="modal" data-bs-target="#deleteVisitaModal"
                            data-visita-id="{{ visita.id }}" data-username="{{ visita.persona_visitada }}">
                            <i class="fas fa-trash-alt"></i>  
                        </button>                    
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            
        </table>
    </div>
</div>

<style>
    /* Estilos para la tabla de usuarios */
    .container {
        width: 100%;
        max-width: 1100px;
        margin: auto;
        background: #ffffff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    h1, h2, h3, h4, h5, h6 {
        color:#122a4a;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .actions {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    .btn {
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
        color: white;
    }

    .btn-add {
        background: #184072;
        color: white;
    }

    .btn-add:hover {
        background: #184072;
        color: white;
    }

    .search-box {
        padding: 8px;
        width: 250px;
        border: 1px solid #184072;
        border-radius: 5px;
    }

    .table-responsive {
        overflow-x: auto;
        border-radius: 10px;  
        border: 1px solid #ddd; 
    }

    table {
        width: 100%;
        border-collapse: collapse;
        background: #fff;
        border-radius: 10px;  
        overflow: hidden;
        font-size: 14px;
    }

    th, td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
        
    }

    th {
        background: #184072;
        color: white;
    }

    tr:hover {
        background-color: #f1f1f1;
    }

    /* Estilos para el switch (toggle) */
    .switch {
        position: relative;
        display: inline-block;
        width: 34px;
        height: 20px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: .4s;
        border-radius: 34px;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 14px;
        width: 14px;
        left: 3px;
        bottom: 3px;
        background-color: white;
        transition: .4s;
        border-radius: 50%;
    }

    input:checked + .slider {
        background-color: #4CAF50;
    }

    input:checked + .slider:before {
        transform: translateX(14px);
    }
    .btn-edit {
        background: transparent;  
        border: none;              
        padding: 0;                
        cursor: pointer;         
    }
    
    .btn-edit i {
        font-size: 18px;  
        color: #e67e22;  
    }
    .btn-delete {
        background: transparent;  
        border: none;              
        padding: 0;                
        cursor: pointer;         
    }
    
    .btn-delete i {
        font-size: 18px;  
        color:rgba(192, 0, 0, 0.75);  
    }
</style>

{% endblock %}

{% block extra_js %}
<script>
    // Búsqueda de visitas en la tabla
    document.getElementById("searchInput").addEventListener("keyup", function() {
        let searchValue = this.value.toLowerCase();
        let rows = document.querySelectorAll("#userTable tbody tr");

        rows.forEach(row => {
            let userData = row.textContent.toLowerCase();
            row.style.display = userData.includes(searchValue) ? "" : "none";
        });
    });
    // Alerta de confirmación para eliminar visita
    document.querySelectorAll('.btn-delete').forEach(deleteButton => {
        deleteButton.addEventListener('click', function() {
            let visitaId = this.getAttribute('data-visita-id');
    
            Swal.fire({
                title: '¿Está seguro?',
                text: '¿Quiere eliminar la visita?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Sí, eliminar',
                cancelButtonText: 'No, cancelar',
            }).then((result) => {
                if (result.isConfirmed) {
                    fetch(`/mis_visitas/eliminar/${visitaId}/`, {  
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                            "X-CSRFToken": "{{ csrf_token }}"
                        }
                    })
                    .then(response => response.json())  
                    .then(data => {
                        if (data.success) {
                            Swal.fire({
                                title: "LISTO!",
                                text: data.message,
                                icon: "success",
                                showConfirmButton: false,
                                timer: 2500
                            }).then(() => {
                                location.reload(); 
                            });
                        } else {
                            Swal.fire("Error", data.message, "error");
                        }
                    });
                }
            });
        });
    });      
</script>
{% endblock %}
